# Business Understanding

## Problem Statement
The large increase in shipping demand has not been matched by an increase in the capabilities of logistics companies.<br>
Delayed delivery can be a risk in many sectors, one of which is retail sales in e-commerce, late delivery will cause the product supply chain to be hampered and reduce the credibility of the retailer. Apart from that, delays by the expedition will also cause buyer disappointment which of course can be detrimental to the retailer.

## Goal
Building a **binary classification** machine learning model that can **predict delays** in logistics/product delivery in e-commerce with **high accuracy**

## Objectives
1. Analyze the data and determine the target feature/binary label (is_late -> (1 or 0), according to the problem statement (delay in delivery)
2. Carry out data processing, to produce data that is clean from noise
3. Carrying out feature engineering, by creating new features to add data patterns which will make it easier for the model to carry out classification (so it is hoped that the accuracy will increase)
4. Select features with high importance using feature importance techniques (Pearson Correlation Matrix, KBest, ChiSquare, and SHAP), to reduce model complexity, computational load, and improve model performance
5. Carry out modeling using several Baseline algorithms (Logistic Regression, SVM, and Decision Tree), as well as advanced algorithms using Ensemble Learning (XGBoost, LGBM, CatBoost, Adaboost, and Random Forest)
6. Evaluate the model with accuracy metrics

# Data Understanding

The data is divided into 2 parts, namely training data and testing data. Each section has 5 types of tables, namely the df_Customers, df_OrderItems, df_Orders, df_Payments, and df_Products tables. <br>
The following is a further explanation of each data:
1. Table df_Customers <br>
This table contains data on customers who make product transactions on ecommerce
2. Table df_OrderItems <br>
This table contains a mapping between orders placed by customers and the table of products purchased
3. Table df_Orders <br>
This table contains data on orders placed by each user
4. df_Payments table <br>
This table contains payments made by each user, containing payment details and transaction value
5. df_Products table <br>
This table contains a list of products sold on ecccomercce and contained in transactions <br>
Let's look at the detailed contents of the table

## Importing Common Libraries

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import timedelta

pd.set_option('display.max_columns', 99)

In [62]:
import warnings 
warnings.filterwarnings("ignore")

In [63]:
import kagglehub

path = kagglehub.dataset_download("bytadit/ecommerce-order-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.11)
Path to dataset files: /Users/arunekambaram/.cache/kagglehub/datasets/bytadit/ecommerce-order-dataset/versions/1

In [64]:
tables = ['Orders','Customers','Products','Payments','OrderItems']

## Train data

In [65]:
train_path = "/Users/arunekambaram/Desktop/supplychain-ml/data/Ecommerce Order Dataset/train/df_"
data_list = ['Orders','Customers','Products','Payments','OrderItems']

tr_orders = pd.read_csv(train_path + data_list[0] + '.csv')
tr_custs = pd.read_csv(train_path + data_list[1] + '.csv')
tr_prods = pd.read_csv(train_path + data_list[2] + '.csv')
tr_pays = pd.read_csv(train_path + data_list[3] + '.csv')
tr_items = pd.read_csv(train_path + data_list[4] + '.csv')

In [66]:
tr_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18
...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05

In [67]:
train_data = [tr_orders, tr_custs, tr_prods, tr_pays, tr_items]
print("The content of training data")
j = 0
for i in train_data:
    print("Table", tables[j])
    print(i.info())
    print(i.head())
    print('\n')
    j+=1

The content of training data
Table Orders
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB
None
       order_id   customer_id order_status order_purchase_timestamp  \
0  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1  v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3  bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04

     order_approved_at order_delivered_timestamp order_estimated_delivery_date
0  2017-10-22 19:14:13       2017-10-26 22:19:52                    2017-11-09
1  2018-06-20 22:20:20       2018-07-03 22:51:22                    2018-07-24
2  2018-02-17 16:15:35       2018-02-27 01:29:50                    2018-03-08
3  2018-08-18 18:15:16       2018-08-27 20:03:51                    2018-09-19
4  2017-12-22 17:31:31       2018-01-05 19:22:49                    2018-01-18


Table Customers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               89316 non-null  object
 1   customer_zip_code_prefix  89316 non-null  int64
 2   customer_city             89316 non-null  object
 3   customer_state            89316 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB
None
    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP


Table Products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89008 non-null  object
 2   product_weight_g       89301 non-null  float64
 3   product_length_cm      89301 non-null  float64
 4   product_height_cm      89301 non-null  float64
 5   product_width_cm       89301 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB
None
     product_id     product_category_name  product_weight_g  \
0  90K0C1fIyQUf                      toys             491.0
1  qejhpMGGVcsl             watches_gifts             440.0
2  qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3  639iGvMyv0De                      toys            1450.0
4  1lycYGcsic2F                      toys             300.0

   product_length_cm  product_height_cm  product_width_cm
0               19.0               12.0              16.0
1               18.0               14.0              17.0
2               16.0               16.0              16.0
3               68.0                3.0              48.0
4               17.0                4.0              12.0


Table Payments
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              89316 non-null  object
 1   payment_sequential    89316 non-null  int64
 2   payment_type          89316 non-null  object
 3   payment_installments  89316 non-null  int64
 4   payment_value         89316 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ MB
None
       order_id  payment_sequential payment_type  payment_installments  \
0  Axfy13Hk4PIk                   1  credit_card                     1
1  v6px92oS8cLG                   1  credit_card                     8
2  Ulpf9skrhjfm                   1  credit_card                     4
3  bwJVWupf2keN                   1  credit_card                     2
4  Dd0QnrMk9Cj5                   1  credit_card                     1

   payment_value
0         259.14
1         382.39
2         249.25
3          27.79
4          76.15


Table OrderItems
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          89316 non-null  object
 1   product_id        89316 non-null  object
 2   seller_id         89316 non-null  object
 3   price             89316 non-null  float64
 4   shipping_charges  89316 non-null  float64
dtypes: float64(2), object(3)
memory usage: 3.4+ MB
None
       order_id    product_id     seller_id   price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  223.51             84.65
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs  170.80             23.79
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD   64.40             17.38
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf  264.50             30.72
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr  779.90             30.66

## Test data

In [68]:
test_path = "/Users/arunekambaram/Desktop/supplychain-ml/data/Ecommerce Order Dataset/test/df_"
data_list = ['Orders','Customers','Products','Payments','OrderItems']


ts_orders = pd.read_csv(test_path + data_list[0] + '.csv')
ts_custs = pd.read_csv(test_path + data_list[1] + '.csv')
ts_prods = pd.read_csv(test_path + data_list[2] + '.csv')
ts_pays = pd.read_csv(test_path + data_list[3] + '.csv')
ts_items = pd.read_csv(test_path + data_list[4] + '.csv')

In [69]:
test_data = [ts_orders, ts_custs, ts_prods, ts_pays, ts_items]
print("The content of testing data")
j = 0
for i in test_data:
    print("Table", tables[j])
    print(i.info())
    print(i.head())
    print('\n')
    j+=1

The content of testing data
Table Orders
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  object
 3   order_approved_at         38272 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB
None
       order_id   customer_id order_purchase_timestamp    order_approved_at
0  u6rPMRAYIGig  I74lXDOfoqsp      2017-11-18 12:29:57  2017-11-18 12:46:08
1  ohY8f4FEbX19  47TuLHF2s7X5      2018-06-02 17:13:12  2018-06-02 20:12:23
2  I28liQek73i2  dQ0dqI8Qwlj8      2018-01-08 11:01:30  2018-01-09 07:24:03
3  bBG1T89mlY8W  iQCmWhNkIczb      2017-03-10 10:24:46  2017-03-10 10:24:46
4  CYxJJSQS8Lbo  Dp2g6JH8tO5Z      2017-12-02 10:04:07  2017-12-05 04:13:30


Table Customers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               38279 non-null  object
 1   customer_zip_code_prefix  38279 non-null  int64
 2   customer_city             38279 non-null  object
 3   customer_state            38279 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB
None
    customer_id  customer_zip_code_prefix        customer_city customer_state
0  I74lXDOfoqsp                      6020              goiania             GO
1  47TuLHF2s7X5                     23020               viamao             RS
2  dQ0dqI8Qwlj8                     75094             campinas             SP
3  iQCmWhNkIczb                     89284  santana de parnaiba             SP
4  Dp2g6JH8tO5Z                     39810             aripuana             MT


Table Products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             38279 non-null  object
 1   product_category_name  38111 non-null  object
 2   product_weight_g       38269 non-null  float64
 3   product_length_cm      38269 non-null  float64
 4   product_height_cm      38269 non-null  float64
 5   product_width_cm       38269 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.8+ MB
None
     product_id product_category_name  product_weight_g  product_length_cm  \
0  1slxdgbgWFax                  toys              50.0               16.0
1  77PgsiElQLeB           electronics             200.0               21.0
2  QVlD26X1y7NI       furniture_decor            1000.0              100.0
3  yWlFGkKYfrpa                  toys            8950.0               40.0
4  h6MCbrwh5kiC                  toys            2301.0               32.0

   product_height_cm  product_width_cm
0                5.0              11.0
1                7.0              14.0
2                5.0              20.0
3               30.0              40.0
4               35.0              34.0


Table Payments
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              38279 non-null  object
 1   payment_sequential    38279 non-null  int64
 2   payment_type          38279 non-null  object
 3   payment_installments  38279 non-null  int64
 4   payment_value         38279 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.5+ MB
None
       order_id  payment_sequential payment_type  payment_installments  \
0  u6rPMRAYIGig                   1  credit_card                     2
1  ohY8f4FEbX19                   1  credit_card                     1
2  I28liQek73i2                   1       wallet                     1
3  bBG1T89mlY8W                   1  credit_card                     3
4  CYxJJSQS8Lbo                   1       wallet                     1

   payment_value
0         155.77
1           4.07
2         381.59
3          14.76
4         284.09


Table OrderItems
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          38279 non-null  object
 1   product_id        38279 non-null  object
 2   seller_id         38279 non-null  object
 3   price             38279 non-null  float64
 4   shipping_charges  38279 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.5+ MB
None
       order_id    product_id     seller_id    price  shipping_charges
0  u6rPMRAYIGig  1slxdgbgWFax  3jwvL6ihC45G    24.10             20.90
1  ohY8f4FEbX19  77PgsiElQLeB  GlLj704QXlDB    42.89             12.28
2  I28liQek73i2  QVlD26X1y7NI  V3iKL8r9W9NR    50.21             67.11
3  bBG1T89mlY8W  yWlFGkKYfrpa  RNBdBKsXebna    89.10             62.05
4  CYxJJSQS8Lbo  h6MCbrwh5kiC  5Ja2lH0N2OZt  2139.99              9.41

### Column Analysis
#### Customers table
1. **customer_id** <br>
ID of each customer who makes a transaction
2. **customer_zip_code_prefix** <br>
prefix of each customer's postal code
3. **customer_city** <br>
the city where the customer lives/the goods will be sent
4. **customer_state** <br>
state/province where the customer lives/items will be shipped

#### Order Items table
1. **product_id** <br>
ID of each product purchased by the customer
2. **seller_id** <br>
ID of the seller/seller for each item in each order
3. **price** <br>
the price of each item sold
4. **shipping_charges** <br>
shipping costs for each item

#### Orders Table
1. **order_id** <br>
ID of each order or orders placed
2. **customer_id** <br>
ID of each customer who makes a transaction
3. **order_status** <br>
status of each order placed
4. **order_purchase_timestamp** <br>
the time at which the purchase is made/initiated by the customer
5. **order_approved_at** <br>
the time when the order is received by the seller
6. **order_delivered_timestamp** <br>
the time when the order has been received by the customer
7. **order_estimated_delivery_date** <br>
the estimated time at which the order is expected to arrive

#### Payments Table
1. **order_id** <br>
ID of each order or orders placed
2. **payment_sequential** <br>
order of payment / payment installments by the customer
3. **payment_type** <br>
type of payment made by the customer
4. **payment_installments** <br>
The number of installments chosen by the customer for each order
5. **payment_value** <br>
payment value for each order, sequentially


#### Products table
1. **product_id** <br>
ID of each product sold
2. **product_category_name** <br>
category name of each product sold
3. **product_weight_g** <br>
weight of each product in grams 
3. **product_length_cm** <br>
Width of each product in cm
4. **product_height_cm** <br>
Height of each product in cm
5. **product_width_cm** <br>
length of each product in cm

### Differences between Training and Testing Data

It turns out there is a difference, that in testing there is only order_id, customer_id, order_purchase_timestamp, and order_approved_at. <br> So, in the training data, the **order_status, order_delivered_timestamp, and order_estimated_delivery_date** columns will be used as **label makers**

## Exploratory Data Analysis (EDA)

### Merging Data

### Train

In [70]:
tr_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89008 non-null  object
 2   product_weight_g       89301 non-null  float64
 3   product_length_cm      89301 non-null  float64
 4   product_height_cm      89301 non-null  float64
 5   product_width_cm       89301 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB

In [71]:
tr_custs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               89316 non-null  object
 1   customer_zip_code_prefix  89316 non-null  int64
 2   customer_city             89316 non-null  object
 3   customer_state            89316 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB

In [72]:
tr_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB

In [73]:
tr_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          89316 non-null  object
 1   product_id        89316 non-null  object
 2   seller_id         89316 non-null  object
 3   price             89316 non-null  float64
 4   shipping_charges  89316 non-null  float64
dtypes: float64(2), object(3)
memory usage: 3.4+ MB

In [74]:
tr_pays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              89316 non-null  object
 1   payment_sequential    89316 non-null  int64
 2   payment_type          89316 non-null  object
 3   payment_installments  89316 non-null  int64
 4   payment_value         89316 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ MB

In [75]:
#dropping duplicates in product 
tr_prods = tr_prods.drop_duplicates()

In [76]:
tr_data = tr_orders.merge(tr_custs,on="customer_id",how="left")
tr_data

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP
...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,94060,amparo,SP
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,99835,itapevi,SP
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,2540,sao paulo,SP
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,12288,paulinia,SP
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,93048,brasilia,DF

In [77]:
tr_data = tr_data.merge(tr_items,on="order_id",how="left")
tr_data

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,23.79
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,17.38
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,639iGvMyv0De,jWzS0ayv9TGf,264.50,30.72
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,1lycYGcsic2F,l1pYW6GBnPMr,779.90,30.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,94060,amparo,SP,W8vikEizUggJ,2QjevWskirjm,31.99,188.65
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,99835,itapevi,SP,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,1.64
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,2540,sao paulo,SP,EG4wDSpFyTth,TuPm19CMKvrM,58.10,4.09
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,12288,paulinia,SP,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,113.01
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,93048,brasilia,DF,5pbzE0rDy61l,mkWN70fui2ro,37.88,70.06

In [78]:
tr_data = tr_data.merge(tr_pays,on="order_id",how="left")
tr_data

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,1,credit_card,1,259.14
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,23.79,1,credit_card,8,382.39
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,17.38,1,credit_card,4,249.25
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,639iGvMyv0De,jWzS0ayv9TGf,264.50,30.72,1,credit_card,2,27.79
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,1lycYGcsic2F,l1pYW6GBnPMr,779.90,30.66,1,credit_card,1,76.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,94060,amparo,SP,W8vikEizUggJ,2QjevWskirjm,31.99,188.65,1,wallet,1,128.00
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,99835,itapevi,SP,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,1.64,1,wallet,1,106.86
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,2540,sao paulo,SP,EG4wDSpFyTth,TuPm19CMKvrM,58.10,4.09,1,credit_card,1,376.39
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,12288,paulinia,SP,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,113.01,1,voucher,1,48.05
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,93048,brasilia,DF,5pbzE0rDy61l,mkWN70fui2ro,37.88,70.06,1,credit_card,10,211.93

In [79]:
tr_data=tr_data.merge(tr_prods,on="product_id",how="left")
tr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
 7   customer_zip_code_prefix       89316 non-null  int64
 8   customer_city                  89316 non-null  object
 9   customer_state                 89316 non-null  object
 10  product_id                     89316 non-null  object
 11  seller_id                      89316 non-null  object
 12  price                          89316 non-null  float64
 13  shipping_charges               89316 non-null  float64
 14  payment_sequential             89316 non-null  int64
 15  payment_type                   89316 non-null  object
 16  payment_installments           89316 non-null  int64
 17  payment_value                  89316 non-null  float64
 18  product_category_name          89008 non-null  object
 19  product_weight_g               89301 non-null  float64
 20  product_length_cm              89301 non-null  float64
 21  product_height_cm              89301 non-null  float64
 22  product_width_cm               89301 non-null  float64
dtypes: float64(7), int64(3), object(13)
memory usage: 15.7+ MB

In [80]:
ts_data = ts_orders.merge(ts_custs, on="customer_id", how="left")
ts_data = ts_data.merge(ts_items, on="order_id", how="left")
ts_data = ts_data.merge(ts_pays, on="order_id", how="left")
ts_prods = ts_prods.drop_duplicates()
ts_data = ts_data.merge(ts_prods, on="product_id", how="left")
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  object
 3   order_approved_at         38272 non-null  object
 4   customer_zip_code_prefix  38279 non-null  int64
 5   customer_city             38279 non-null  object
 6   customer_state            38279 non-null  object
 7   product_id                38279 non-null  object
 8   seller_id                 38279 non-null  object
 9   price                     38279 non-null  float64
 10  shipping_charges          38279 non-null  float64
 11  payment_sequential        38279 non-null  int64
 12  payment_type              38279 non-null  object
 13  payment_installments      38279 non-null  int64
 14  payment_value             38279 non-null  float64
 15  product_category_name     38111 non-null  object
 16  product_weight_g          38269 non-null  float64
 17  product_length_cm         38269 non-null  float64
 18  product_height_cm         38269 non-null  float64
 19  product_width_cm          38269 non-null  float64
dtypes: float64(7), int64(3), object(10)
memory usage: 5.8+ MB

### Checking Null Values

In [81]:
print('Null Values in Train Data')
print(tr_data.isna().sum())
print('\n')
print('Null Values in Test Data')
print(ts_data.isna().sum())

Null Values in Train Data
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
product_id                          0
seller_id                           0
price                               0
shipping_charges                    0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
product_category_name             308
product_weight_g                   15
product_length_cm                  15
product_height_cm                  15
product_width_cm                   15
dtype: int64


Null Values in Test Data
order_id                      0
customer_id                   0
order_purchase_timestamp      0
order_approved_at             7
customer_zip_code_prefix      0
customer_city                 0
customer_state                0
product_id                    0
seller_id                     0
price                         0
shipping_charges              0
payment_sequential            0
payment_type                  0
payment_installments          0
payment_value                 0
product_category_name       168
product_weight_g             10
product_length_cm            10
product_height_cm            10
product_width_cm             10
dtype: int64

In [82]:
tr_data.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,23.79,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,17.38,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,639iGvMyv0De,jWzS0ayv9TGf,264.50,30.72,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,1lycYGcsic2F,l1pYW6GBnPMr,779.90,30.66,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0

In [83]:
tr_data.order_status.value_counts()

order_status
delivered      87428
shipped          936
canceled         409
processing       273
invoiced         266
unavailable        2
approved           2
Name: count, dtype: int64

To find out whether it is late or not, we only need to take data whose order_status is 'delivered'

In [85]:
tr_data = tr_data[tr_data.order_status == 'delivered']
tr_data

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,23.79,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,17.38,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,639iGvMyv0De,jWzS0ayv9TGf,264.50,30.72,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,1lycYGcsic2F,l1pYW6GBnPMr,779.90,30.66,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,94060,amparo,SP,W8vikEizUggJ,2QjevWskirjm,31.99,188.65,1,wallet,1,128.00,toys,700.0,21.0,14.0,14.0
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,99835,itapevi,SP,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,1.64,1,wallet,1,106.86,toys,600.0,16.0,16.0,16.0
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,2540,sao paulo,SP,EG4wDSpFyTth,TuPm19CMKvrM,58.10,4.09,1,credit_card,1,376.39,health_beauty,250.0,22.0,10.0,18.0
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,12288,paulinia,SP,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,113.01,1,voucher,1,48.05,toys,250.0,16.0,2.0,11.0
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,93048,brasilia,DF,5pbzE0rDy61l,mkWN70fui2ro,37.88,70.06,1,credit_card,10,211.93,toys,1750.0,32.0,18.0,24.0

In [86]:
tr_data.order_status.value_counts()

order_status
delivered    87428
Name: count, dtype: int64

In [87]:
tr_prods = tr_prods.drop_duplicates() #-->drop duplicates on product
tr_data = tr_orders.merge(tr_custs, on="customer_id", how="left")
tr_data = tr_data.merge(tr_items, on="order_id", how="left")
tr_data = tr_data.merge(tr_pays, on="order_id", how="left")
tr_data = tr_data.merge(tr_prods, on="product_id", how="left")
tr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
 7   customer_zip_code_prefix       89316 non-null  int64
 8   customer_city                  89316 non-null  object
 9   customer_state                 89316 non-null  object
 10  product_id                     89316 non-null  object
 11  seller_id                      89316 non-null  object
 12  price                          89316 non-null  float64
 13  shipping_charges               89316 non-null  float64
 14  payment_sequential             89316 non-null  int64
 15  payment_type                   89316 non-null  object
 16  payment_installments           89316 non-null  int64
 17  payment_value                  89316 non-null  float64
 18  product_category_name          89008 non-null  object
 19  product_weight_g               89301 non-null  float64
 20  product_length_cm              89301 non-null  float64
 21  product_height_cm              89301 non-null  float64
 22  product_width_cm               89301 non-null  float64
dtypes: float64(7), int64(3), object(13)
memory usage: 15.7+ MB

#### Convert Object to Datetime

In [88]:
# Convert order date and shipping date features to datetime type
tr_data[['order_purchase_timestamp','order_approved_at','order_delivered_timestamp','order_estimated_delivery_date']] = tr_data[['order_purchase_timestamp','order_approved_at','order_delivered_timestamp','order_estimated_delivery_date']].apply(pd.to_datetime)
ts_data[['order_purchase_timestamp','order_approved_at']] = ts_data[['order_purchase_timestamp','order_approved_at']].apply(pd.to_datetime)

In [89]:
print('Training Data Info\n')
print(tr_data.info())
print('Null Info in Training Data')
print(tr_data.isna().sum())
print('\nTesting Data')
print(ts_data.info())
print('Null Info in Testing Data')
print(ts_data.isna().sum())

Training Data Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  datetime64[ns]
 4   order_approved_at              89307 non-null  datetime64[ns]
 5   order_delivered_timestamp      87427 non-null  datetime64[ns]
 6   order_estimated_delivery_date  89316 non-null  datetime64[ns]
 7   customer_zip_code_prefix       89316 non-null  int64
 8   customer_city                  89316 non-null  object
 9   customer_state                 89316 non-null  object
 10  product_id                     89316 non-null  object
 11  seller_id                      89316 non-null  object
 12  price                          89316 non-null  float64
 13  shipping_charges               89316 non-null  float64
 14  payment_sequential             89316 non-null  int64
 15  payment_type                   89316 non-null  object
 16  payment_installments           89316 non-null  int64
 17  payment_value                  89316 non-null  float64
 18  product_category_name          89008 non-null  object
 19  product_weight_g               89301 non-null  float64
 20  product_length_cm              89301 non-null  float64
 21  product_height_cm              89301 non-null  float64
 22  product_width_cm               89301 non-null  float64
dtypes: datetime64[ns](4), float64(7), int64(3), object(9)
memory usage: 15.7+ MB
None
Null Info in Training Data
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
product_id                          0
seller_id                           0
price                               0
shipping_charges                    0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
product_category_name             308
product_weight_g                   15
product_length_cm                  15
product_height_cm                  15
product_width_cm                   15
dtype: int64

Testing Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  datetime64[ns]
 3   order_approved_at         38272 non-null  datetime64[ns]
 4   customer_zip_code_prefix  38279 non-null  int64
 5   customer_city             38279 non-null  object
 6   customer_state            38279 non-null  object
 7   product_id                38279 non-null  object
 8   seller_id                 38279 non-null  object
 9   price                     38279 non-null  float64
 10  shipping_charges          38279 non-null  float64
 11  payment_sequential        38279 non-null  int64
 12  payment_type              38279 non-null  object
 13  payment_installments      38279 non-null  int64
 14  payment_value             38279 non-null  float64
 15  product_category_name     38111 non-null  object
 16  product_weight_g          38269 non-null  float64
 17  product_length_cm         38269 non-null  float64
 18  product_height_cm         38269 non-null  float64
 19  product_width_cm          38269 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3), object(8)
memory usage: 5.8+ MB
None
Null Info in Testing Data
order_id                      0
customer_id                   0
order_purchase_timestamp      0
order_approved_at             7
customer_zip_code_prefix      0
customer_city                 0
customer_state                0
product_id                    0
seller_id                     0
price                         0
shipping_charges              0
payment_sequential            0
payment_type                  0
payment_installments          0
payment_value                 0
product_category_name       168
product_weight_g             10
product_length_cm            10
product_height_cm            10
product_width_cm             10
dtype: int64

In [97]:
# we assume that null in approved_at in the testing data will result in delays
ts_data['order_approved_at'] = ts_data['order_approved_at'].fillna(ts_data['order_purchase_timestamp'] + timedelta(days=25))

Let's remove the Order Status feature, because now it only contains delivered (it won't affect model training)

In [98]:
tr_data = tr_data.drop(['order_status'],axis=1)
tr_data

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,23.79,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,17.38,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,639iGvMyv0De,jWzS0ayv9TGf,264.50,30.72,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,1lycYGcsic2F,l1pYW6GBnPMr,779.90,30.66,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,94060,amparo,SP,W8vikEizUggJ,2QjevWskirjm,31.99,188.65,1,wallet,1,128.00,toys,700.0,21.0,14.0,14.0
89312,IlTAoIkILwrq,4hjsCpj6FC7g,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,99835,itapevi,SP,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,1.64,1,wallet,1,106.86,toys,600.0,16.0,16.0,16.0
89313,uA6oXfftGVmT,DLn56oKHl9bv,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,2540,sao paulo,SP,EG4wDSpFyTth,TuPm19CMKvrM,58.10,4.09,1,credit_card,1,376.39,health_beauty,250.0,22.0,10.0,18.0
89314,v3QtU6xlGDJp,auSfRYUQUOIq,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,12288,paulinia,SP,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,113.01,1,voucher,1,48.05,toys,250.0,16.0,2.0,11.0
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,93048,brasilia,DF,5pbzE0rDy61l,mkWN70fui2ro,37.88,70.06,1,credit_card,10,211.93,toys,1750.0,32.0,18.0,24.0

In [100]:
tr_data.isnull().sum()

order_id                            0
customer_id                         0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
product_id                          0
seller_id                           0
price                               0
shipping_charges                    0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
product_category_name             308
product_weight_g                   15
product_length_cm                  15
product_height_cm                  15
product_width_cm                   15
dtype: int64

# Data Preparation & Feature Engineering